body {
    margin: 0;
    font-family: 'Gilda Display', serif;
    color: #4d4b44;

    /* background image */
    background-image: url("images/about.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding: 80px 20px 20px 20px;
}

/* content box on right */
.content {
    max-width: 500px;
    text-align: left;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 25px;

    border-radius: 12px;
}

/* paragraph */
p {
    font-size: clamp(14px, 3vw, 20px);
    line-height: 1.6;
    color: #4d4b44;
}

/* ABOUT CARD BUTTON SECTION */
.dashboard {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;

    padding: 12px 15px;

    /* GLASS TRANSPARENT EFFECT */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;

    z-index: 1000;

    /* SMOOTH ANIMATION */
    transition: all 0.3s ease;
}

/* LINKS STYLE */

.dashboard a {
    text-decoration: none;
    color: #333;
    font-size: clamp(12px, 2vw, 20px);
    transition: 0.3s;
    padding: 5px 8px;
}


/* HOVER EFFECT (underline slide) */
.dashboard a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;

    width: 0%;
    height: 2px;
    background: #333;

    transition: 0.3s;
}

.dashboard a:hover::after {
    width: 100%;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
    .container {
        justify-content: center;
        padding: 100px 20px 20px 20px;
    }
    
    .content {
        width: 100%;
        max-width: 100%;
    }
    
    .dashboard {
        top: auto;
        bottom: 10px;
        left: 10px !important;
        right: 10px !important;
        justify-content: center;
    }
}